[submodule "tracker/libbpf"]
	path = tracker/libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "instrumentation/libbpf"]
	path = instrumentation/libbpf
	url = https://github.com/libbpf/libbpf.git
