#root {
  position: absolute;
  top: 4%;
  bottom: 0;
  left: 0;
  right: 0;
}

.code-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 80%;
}

.golang-editor {
  position: relative;
  top: 6%;
  flex: 1;
}

#ace-editor-wrapper {
  width: 85%;
}

#banner {
  display: flex;;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

#head {
  position: absolute;
  padding-left: 10px;
  padding-right: 30px;
  font-size: 20px;
  font-family: sans-serif;
  display: inline;
}

#button-run {
  position: absolute;
  display: inline-block;
  right: 15%;
  padding-top: 5px;
  padding-bottom: 5px;
  appearance: none;
  background-color: #2c974b;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(231, 243, 255, 0.1) 3px 4px 5px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
}


#button-run:hover {
    background-color: #2c974b;
    color: white;
}

#button-run:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

#button-run:disabled {
    background-color: rgb(203, 202, 202);
    border-color: rgba(27, 31, 35, .1);
    color: white; cursor: default;
}

#button-run:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

#instrumented-code {
  background: #fdf6e3;
  position: absolute;
  left: 6%;
  width: 85%;
  font-family: monospace;
  font-size: 12px;
  line-height: 16px;
  white-space: pre;
  overflow-x: auto;
}

.instrumented-line {
  display: block;
  font-family: monospace;
  font-size: 12px;
  line-height: 16px;
}

.instrumented-line:empty {
  height: 16px;
}

#instrumented-code-linenums {
  position: absolute;
  width: 5%;
  text-align: right;
  background: #fbf1d3;
  padding-right: 1%;
}

#instrumented-cursors {
  position: absolute;
  left: 91%;
  width: 8%;
  padding-left: 1%;
  text-align: left;
}

.thread-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 40%;
  width: 60%;
  height: 50%;
}

.thread {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.schedule-spinner-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.schedule-spinner-circle {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 10px;
  left: 5px;
  border-radius: 30px;
  border: 5px coral solid;
}

.schedule-spinner-arrow {
  position: absolute;
  top: 50%;
  width: 0px;
  height: 0px;
  border-width: 0px 8px 8px 8px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.schedule-spinner-arrow::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-width: 0px 6px 6px 6px;
  border-style: solid;
  border-color: transparent transparent coral transparent;
  margin-left: -6px;
  margin-top: 2px;
}

.go-m-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.go-m {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 12px;
  border-width: 0px 25px 30px 25px;
  border-style: solid;
  border-color: transparent transparent pink transparent;
}

/* Separate m-text from m triangle so that they can be "overlapped" */
.go-m-text {
  position: absolute;
  top: 15px;
  left: 35%;
  font-size: 14px;
  font-family: monospace;
}

.go-p-wrapper {
  display: flex;
  height: 50px;
  flex: 1;
  align-items: center;
  margin-right: 20px;
}

.go-p {
  width: 50px;
  text-align: center;
}

.go-runq {

}

.go-g {

}