#root {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

.ace-editor-wrapper { 
  position: absolute;
  width: 50%;
  height: 80%;
}

/* The ace editor is bound to element id, so we need an id selector */
#golang-editor {
  left: 0;
  top: 0;
}
