#root {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

.ace-editor-wrapper { 
  position: absolute;
  width: 50%;
  height: 80%;
}

/* The ace editor is bound to element id, so we need an id selector */
#golang-editor {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 80%;
}

#banner {
  position: absolute;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
}

#banner > * {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  height: 30px;
}

#head {
  position: absolute;
  padding-left: 10px;
  padding-right: 30px;
  font-size: 20px;
  font-family: sans-serif;
  display: inline;
}

#button-run {
  position: absolute;
  display: inline;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
