#root {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

.code-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 96%;
  height: 80%;
  padding-left: 2%;
}

.code-panel-running {
  width: 38%;
}

.golang-editor {
  position: relative;
  flex: 1;
  border-radius: 6px;
  overflow-y: auto;
}

#banner {
  display: flex;;
  align-items: center;
  margin-bottom: 10px;
  font-family: sans-serif;
}

#head {
  position: relative;
  font-size: 24px;
}

.go-version-select {
  position: relative;
  display: inline;
  margin-left: 20px;
  height: 30px;
  border-radius: 4px;
  font-size: 14px;
}

.button-compile-and-run {
  position: absolute;
  display: inline-block;
  right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  appearance: none;
  background-color: #2c974b;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(231, 243, 255, 0.1) 3px 4px 5px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  height: 30px;
}

.button-compile-and-run-running {
  right: 11%;
}

.button-compile-and-run:hover {
    background-color: #2c974b;
    color: white;
}

.button-compile-and-run:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.button-compile-and-run:disabled {
    background-color: rgb(203, 202, 202);
    border-color: rgba(27, 31, 35, .1);
    color: white; cursor: default;
}

.button-compile-and-run:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.instrumented-code {
  background: #fdf6e3;
  position: absolute;
  left: 6%;
  width: 85%;
  font-family: monospace;
  font-size: 12px;
  line-height: 16px;
  white-space: pre;
  overflow-x: clip;
  height: 100%;
}

.instrumented-line {
  display: block;
  font-size: 12px;
  line-height: 16px;
}

.instrumented-line:empty {
  height: 16px;
}

.instrumented-code-linenums {
  position: absolute;
  width: 5%;
  text-align: right;
  background: #fbf1d3;
  padding-right: 1%;
  height: 100%;
}

.instrumented-cursors {
  position: absolute;
  left: 91%;
  width: 8%;
  padding-left: 1%;
  text-align: left;
  height: 100%;
}

.output-wrapper {
  position: absolute;
  width: 96%;
  top: 80%;
  height: 20%;
  margin-left: 2%;
  border-radius: 6px;
  overflow-x: auto;
  overflow-y: auto;
  font-size: 12px;
  background-color: #f8f8f8;
}

.output-wrapper-running {
  width: 34.58%;
}

.output {
  position: relative;
  display: flex;
  flex-direction: column;
}

.compile-and-run-output {
  
}

.system-output {
  color: gray;
  margin-top: 10px;
}

.thread-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 40%;
  top: 30px;
  width: 60%;
  height: 50%;
  font-family: monospace;
  font-size: 14px;
  overflow-wrap: break-word;
  text-align: center;
}

.thread {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.go-executing-g-wrapper {
  position: relative;
  width: 100px;
  height: 50px;
  margin-right: 40px;
  display: flex;
}

.schedule-spinner-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.schedule-spinner-wrapper-animation {
  animation: 1s infinite linear spin;
}

.schedule-spinner-circle {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 10px;
  left: 5px;
  border-radius: 30px;
  border: 5px coral solid;
}

.schedule-spinner-arrow {
  position: absolute;
  top: 50%;
  width: 0px;
  height: 0px;
  border-width: 0px 8px 8px 8px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.schedule-spinner-arrow::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-width: 0px 6px 6px 6px;
  border-style: solid;
  border-color: transparent transparent coral transparent;
  margin-left: -6px; /* ::after pseudo element is inline but we need to stack it onto the originating element */
  margin-top: 2px;
}

.go-m-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.go-m {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 12px;
  border-width: 0px 25px 30px 25px;
  border-style: solid;
  border-color: transparent transparent pink transparent;
}

/* Separate m-text from m triangle so that they can be "overlapped" */
.go-m-text {
  position: absolute;
  top: 15px;
  left: 35%;
  font-family: monospace;
}

.go-struct-wrapper {
  display: flex;
  min-height: 60px;
  align-items: center;
  margin-right: 20px;
  border: 2px dashed gray;
}

.go-struct-name {
  width: 50px;
}

.go-struct {
  display: flex;
  justify-content: space-between;
}

.go-g {
  width: 100px;
  margin-right: 10px;
  margin-left: 10px;
  overflow-wrap: break-word;
  font-size: 12px;
  height: 50px;
}

.global-struct-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 40%;
  top: calc(50% + 30px);
  height: 30%;
  font-family: monospace;
  font-size: 14px;
  overflow-wrap: break-word;
  text-align: center;
}

.park-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed gray;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.park-wait-reason {
  width: 100px;
  height: 40px;
}