#root {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

.code-panel {
  position: absolute;
  width: 50%;
  height: 80%;
}

/* The ace editor is bound to element id, so we need an id selector */
#golang-editor {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 80%;
}

#instrumented-code {
  background: #fdf6e3;
  position: absolute;
  left: 48px;
  font-family: monospace;
  font-size: 12px;
  line-height: 16px;
  white-space: pre;
}

#banner {
  position: absolute;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
}

#banner > * {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  height: 30px;
}

#head {
  position: absolute;
  padding-left: 10px;
  padding-right: 30px;
  font-size: 20px;
  font-family: sans-serif;
  display: inline;
}

#button-run {
  position: absolute;
  display: inline;
  right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  appearance: none;
  background-color: #2c974b;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(231, 243, 255, 0.1) 3px 4px 5px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}


#button_run:hover {
    background-color: #2c974b;
    color: white;
}

#button-run:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

#button-run:disabled {
    background-color: rgb(203, 202, 202);
    border-color: rgba(27, 31, 35, .1);
    color: white; cursor: default;
}

#button-run:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.instrumented-editor {
  position: absolute;
  top: 50px;
  height: 80%;
  width: 100%;
  overflow: auto;
}

.instrumented-code-line {
  display: block;
}

.instrumented-code-line:empty {
  height: 16px;
}

#instrumented-code-linenums {
  position: absolute;
  width: 48px;
  text-align: right;
  font-family: monospace;
  font-size: 12px;
  line-height: 16px;
  background: #fbf1d3;
}

.line-number {
  display: block;
}